#
# .gitignore
#

# System files
.DS_Store

# Temporary files
.tmp/
tmp/
temp/

# Dependency directories
node_modules/
jspm_packages/

# Log directories and files
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dart/Flutter
**/.dart_tool/
**/.idea/
**/*.iml
